<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="718b94">  <td>17/12/07 05:32:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CDORTest.BPC_data(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:cruisetestclass.CDORTest@12f41634]">BPC_data</td> 
  <td>main@1136497418</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>17/12/07 05:32:11</td>   <td>-21798</td> <td>&nbsp;</td><td title="&gt;&gt;CDORTest.baseClass()[pri:0, instance:cruisetestclass.CDORTest@12f41634]">&gt;&gt;baseClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1136497418</td>   <td></td> </tr>
<tr bgcolor="718b94">  <td>17/12/07 05:42:36</td>   <td>603629</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CDORTest.closeBrowser()[pri:0, instance:cruisetestclass.CDORTest@12f41634]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1136497418</td>   <td></td> </tr>
</table>
