<h2>Reporter output</h2><table><tr><td>Website Name:- CDOR</td></tr>
<tr><td>Total Time for Guest info page to load(Milisec) - 4700</td></tr>
<tr><td>Total Time for result page to details page load(Milisec) - 1100</td></tr>
<tr><td>Total Time for details page to category page load(Milisec) - 8150</td></tr>
<tr><td>Total Time for cabin selection page to purchase page load(Milisec) - 2000</td></tr>
<tr><td>Total Time for purchase page to confirmation page load(Milisec) - 2070</td></tr>
<tr><td>Price on the passenger details page is:- $1,221.38</td></tr>
<tr><td>Insurance applied successfully..</td></tr>
<tr><td>Prices of After applied insurance on the passenger details page is:- $1,352.38</td></tr>
<tr><td>Price of selected insurance:-$131.00</td></tr>
<tr><td>Insurance Removed successfully..</td></tr>
<tr><td>Prices of After removed insurance on the passenger details page is:- $1,221.38</td></tr>
</table>