<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="89cf83">  <td>17/10/31 11:30:30</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Faredepot_Test.setUp()[pri:0, instance:TestClass.Faredepot_Test@12f41634]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1136497418</td>   <td></td> </tr>
<tr bgcolor="89cf83">  <td>17/10/31 11:30:31</td>   <td>1455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Faredepot_Test.testFaredepot_B2C()[pri:0, instance:TestClass.Faredepot_Test@12f41634]">testFaredepot_B2C</td> 
  <td>main@1136497418</td>   <td></td> </tr>
<tr bgcolor="89cf83">  <td>17/10/31 11:30:31</td>   <td>1474</td> <td>&nbsp;</td><td title="&lt;&lt;Faredepot_Test.tearDown()[pri:0, instance:TestClass.Faredepot_Test@12f41634]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1136497418</td>   <td></td> </tr>
</table>
